<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716801995027-3gj6ah5cj4r2otquka37nr3o4lqrqq62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716801995027-3gj6ah5cj4r2otquka37nr3o4lqrqq62</string>
	<key>API_KEY</key>
	<string>AIzaSyAfeEFU079whHqLRvbm7qbICJonmLlErzg</string>
	<key>GCM_SENDER_ID</key>
	<string>716801995027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sniffsocial</string>
	<key>PROJECT_ID</key>
	<string>chat-d5272</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-d5272.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716801995027:ios:2b90abfdaf4242f464aae6</string>
</dict>
</plist>